<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388373687527-nmg91e5tpgvdr1nf5d1c22ldeoqidkit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388373687527-nmg91e5tpgvdr1nf5d1c22ldeoqidkit</string>
	<key>API_KEY</key>
	<string>AIzaSyDNN-fqg-3qJjN1-ul3ez9yiAtUGfdhPzk</string>
	<key>GCM_SENDER_ID</key>
	<string>388373687527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cultureTrip</string>
	<key>PROJECT_ID</key>
	<string>my-culture-trip</string>
	<key>STORAGE_BUCKET</key>
	<string>my-culture-trip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388373687527:ios:3ad03db59442edd916c642</string>
</dict>
</plist>